<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¡Bienvenido/a!</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Quicksand:wght@600&display=swap" rel="stylesheet">
</head>
<body>
     
    <header>
        <img src="https://img.freepik.com/premium-vector/word-concept-color-geometric-shapes-blog_205544-12899.jpg" alt="Mi Logo">
        <h1>Mi Blog Personal</h1>
        <p>Bienvenido a mi espacio en la web</p>
    </header>
    
    <h2>Bienvenido a mi blog personal</h2>

    <div class="container">
        <section>
            <div class="welcome-container">
                <p class="perform">¡Hola! Soy Keylin González Arguedas, soy Ingeniera en Tecnologías de Información
                    y este es un espacio para que compartamos nuestros pensamientos, experiencias y más.
                    En temas de tecnologías sobre:</p>

                <ul>
                    <li>Redes.</li>
                    <li>Desarrollo web.</li>
                    <li>Ciberseguridad.</li>
                </ul>

                <p class="perform">Espero que podamos enriquecer nuestro conocimiento compartiendo información importante para el crecimiento
                    personal y profesional.
                </p>
            </div>
        </section>

        <section class="profile">
            <img src="https://media.istockphoto.com/id/1399395748/es/foto/alegre-mujer-de-negocios-con-gafas-posando-con-las-manos-bajo-la-cara-mostrando-su-sonrisa-en.jpg?s=612x612&w=0&k=20&c=0y9KGEHKrwRUhZX2b7OH-SPUJ9t_HPf9Dle5khT77bg=" alt="Keylin González">
        </section>
    </div>

    <!--<nav>
        <ul>
          <li><a routerLink="/">Inicio</a></li>
          <li><a routerLink="/posts">Publicaciones</a></li>
          Agrega más enlaces según sea necesario 
        </ul>
    </nav>-->

    <section>
        <h2>Últimas Publicaciones</h2>
        <app-post-list></app-post-list>
        <!-- Aquí puedes agregar lógica para mostrar las últimas publicaciones usando el componente PostListComponent -->
    </section>

    <footer>
        <p>© 2024 Mi Blog Personal</p>
        <p>Contacto: keylin.kg11@gmail.com</p>
    </footer>
      
</body>
</html>
